#SNMPV3 configuration for CI&T
agentAddress udp:161,udp6:161
createUser ciandtsnmp MD5 AtgcBiGMGgKKQtuSD4HiVU4CUq26oyP6 DES RBUHIgJioJR1Wqu2uIo7MsVBr4yZgMmc
rouser ciandtsnmp priv
syscontact Root <it_operationn2@ciandt.com>
includeAllDisks 100